streamlit
alpaca-trade-api  # Remove alpaca-py if not needed
torch==2.3.0+cpu
-f https://download.pytorch.org/whl/cpu
pandas
numpy
plotly
gspread
oauth2client
python-dotenv
scikit-learn
matplotlib
requests
