streamlit
alpaca-trade-api
torch==2.3.0+cpu
-f https://download.pytorch.org/whl/cpu
transformers==4.40.0  # Add this line
pandas
numpy
plotly
gspread
oauth2client
python-dotenv
scikit-learn
matplotlib
requests
